
*.o
*.obj
*.exe
*.dll
*.dylib
*.so
*.ipch
*.pdb
*.vtf
*.mdl
*.bsp
*.vmt


# ── VEEX Engine Build Folders ─────────────────────────────────
# Ignore both the local Mac and Windows cross-compile builds
build/
build_win/
game/materials
game/maps
Engine/Game

# ── macOS Junk ────────────────────────────────────────────────
.DS_Store

# ── IDE Configs ───────────────────────────────────────────────
.vscode/
.idea/
*.user
